* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li,
a,
button {
    font-family: san-serif;
    font-weight: 500;
    font-size: 17px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    width: 120px;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 0px;
}

.log_in {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 25px;
    right: 30px;
}

.sign_up {
    position: absolute;
    top: 30px;
    right: 90px;
}

.nav_bars {
    list-style: none;
}

.nav_bars li {
    padding-left: 50px;
    display: inline-block;
}

.nav_bar:hover {
    color: #87CEFC;
}

button {
    font-size: 15px;
    padding: 9px 25px;
    border: none;
    background-color: dimgrey;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}


/* Animation */

#Animation {
    display: block;
    margin: 0 auto;
    background-image: url(images/video-fallback-background.jpg);
}

#video {
    width: 700px;
    height: 400px;
    display: block;
    margin: 0 auto;
    background-image: url(images/video-fallback-background.jpg);
}

#Search_Section {
    border-style: solid;
    border-width: 4px;
    border-color: dimgrey;
    background-color: purple;
    padding: 5px;
    margin-top: 20px;
    overflow: hidden;
    margin-left: 20%;
    margin-right: 10%;
}

#S_title {
    color: white;
    text-align: right;
}

.forms {
    color: white;
}