* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    
}


li,a,button {
    font-family: san-serif;
    font-weight: 500;
    font-size: 17px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    width: 120px;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 0px;
}

.log_in {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 25px;
    right: 30px;
}

.sign_up {
    position: absolute;
    top: 30px;
    right: 90px;
}

.nav_bars {
    list-style: none;
}

.nav_bars li {
    padding-left: 50px;
    display: inline-block;
}

.nav_bar:hover {
    color: #87CEFC;
}

button {
    font-size: 15px;
    padding: 9px 25px;
    border: none;
    background-color: dimgrey;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}


/* Animation */


#images_left{
    width: 25.8%;
}
#images_right{
    width: 26.4%;
    float: right;

}

#video {
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    height: 60%;
}


/*Search*/

#Search_Section {
    border-style: solid;
    border-width: 4px;
    border-color: dimgrey;
    padding: 5px;
    margin-top: 20px;
    overflow: hidden;
    margin-left: 20%;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.form-box {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
}

.search-field {
    height: 30px;
    padding: 10px;
    background-color: white;
}

#S_title {
    color: #B0C4DE;
    font-size: 35px;
    letter-spacing: 2px;
    font-family: "Monospace";
}

.forms {
    color: white;
}

/*news*/
#Inventory{
    padding-top: 40px;

}

#I_title{
    font-size: 18px;
    color: white;
    font-style: italic;
    font-family: Helvetica;
}
#news{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.im{
    width: 100%;
    
}
/*social*/
#Social_Media{
    padding-top: 20px;
}

#social{
    display: flex;
    list-style-type: none; 
    margin-left: 50px;

}
.ims{
    width: 50px;
    height: 50px;
}

